

	<body class="home"></body>
	<div class="container hidden center">
		<div class="row top-30">
    </div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form id="cms">
					<div class="form-group">
						<label for="title">Title:</label>
						<input placeholder="Movie Title" type="text" class="form-control" id="title" data-imdbID="">
            
              <p>Choose a rating:</p>
              <div class= "radial-dials">
				      <label for="contactChoice1">1</label>
                <input type="radio" id="1" name="rating">
                <label for="contactChoice1">2</label>
                <input type="radio" id="2" name="rating">
                <label for="contactChoice1">3</label>
                <input type="radio" id="3" name="rating">
                <label for="contactChoice1">4</label>
                <input type="radio" id="4" name="rating">
                <label for="contactChoice1">5</label>
                <input type="radio" id="5" name="rating">
                
              </div>
					<div class="solid">
					<p id="bordertop"><label for="review-body">Review:</label></p>
						<textarea placeholder="Write a Review" class="form-control" rows="10" id="review-body"></textarea>
						<button type="button" class="btn btn-info submit" id="post-review">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

  <script src="./js/post.js" type="text/javascript"></script>
  <script src="./js/autocomplete.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  