h1{
   color: rgb(5, 4, 4);
   font-size: 38px;
   text-align: center;
   padding-top: .25em;
   padding-bottom: .25em;
   text-shadow: 2px 2px 5px rgb(235, 233, 229);
   font-family: 'Cinzel', serif;

}
body{
   background-image: url(/images/movie-theater-cinema.jpg);
   height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: repeat;
   color: black;
}

.form-group{
   background-color: #35031fc2;
   color: white;
   width: 20em;
   text-indent: .5em;
   padding-left: auto;
   padding-right:0; 
   margin: 0 auto;
   box-shadow: inset 0px 0px 2px 1px #efdddd;
   margin-bottom: 1em;
   /*#2c45a4*/
}


nav {
   /* float: right; */
   /* padding-top: 5px; */
   /* margin-right: 2em; */
   margin: 1em 0px;
   padding: auto;
   /* text-align: center; */
   box-shadow: inset 0px 0px 1px 1px #efdddd;
   display: flex;
   justify-content: space-evenly;
}
nav a{
   border-left: 1px solid #f7e0e0;
   padding-right: auto;
   display: inline-block;
   padding-left: 2em;
   padding-right: 2em;
   /* padding-left: 10px; */
   /* padding-right: 10px; */
   /* margin-left: 15px; */
   line-height: 18px;
   color:#f7e0e0;
   text-decoration: none;
   /* margin-top: 1em; */
   /* padding: 0px 15px; */
}

nav a:first-child {
   border-left: 0 none;
  }

.login{
   margin-left: auto;
   padding-bottom: 1em;
   justify-content: center;
   
}

#main-container{
  background-color: #8c888880;
  height: 300px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

   /* margin-top: 5em; */
}

body.home{
   background-image:url(/images/circle-blues.png);
}

.btn-info {
   color: black;
   background:linear-gradient(#6b6767, white);
   border-color:black ;

}

button{
   color: black;
   background:linear-gradient(#6b6767, white);
   border-color:black;
   
}
p{
   text-align:center;
   

}

label{
   padding-left: .5em;
}
 .radial-dials{
    padding-left: 1.75em;
  
 }

 .form-control {
   display: block;
   width: 100%;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #e4e4e4d4;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button{
   color: #fff;
    background-color: #081546;
    border-color: #28a745;
}

#poster{
   height: 19em;
   width: auto;
}

#date{
   font-size: 0.7em;
   float: right;
   margin-top: 20em;
}

.review{
   border-style: solid;
   border-top:3em;
}
#post-review{
   margin-left: 7em;

}
#bordertop{
   border-top: white solid 5px;
}

#login-submit{
   margin-left: 2em;
}

#usernamecolor{
   background-color:#3a0220f0;
}

.btn-secondary {
   color: black;
   background-color: #868e96;
   border-color: #868e96;
}

.close {
   float: right;
   font-size: 1.5rem;
   font-weight: 700;
   line-height: .5;
   color: black;
   text-shadow: 0 1px 0 #fff;
   opacity: 1;
   background: linear-gradient(#2d0206, #b50707);
}
   /* opacity: .5;*/
