h1{
    background-color:  blue;
 }
 body{
    background-image: url(“/images/movie-theater-cinema.jpg”);
    height: 100%;
 }
 .form-group{
    background-color: grey;
    margin-top: 2em
 }
 nav {
    float: right;
    padding-top: 5px;
    margin-right: 2em;
 }
 nav a{
    border-left: 1px solid white;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
 }
 .login{
    padding-top: 1em;
    float: center;
 }